name: ci

on:
  pull_request:
    branches: [ "dev" ,"prod"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        env:
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}  
          
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
          
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
          
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }} 
          JWT_EXPIRATION: ${{ secrets.JWT_EXPIRATION }} 
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}  
        run: |
          ./gradlew build sonar --info -Djwt.secret=$JWT_SECRET -Djwt.expiration=$JWT_EXPIRATION
